<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>糯米巴巴微信小程序商城</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__ADMIN__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__ADMIN__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__ADMIN__/css/animate.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">糯米巴巴微信小程序商城…
                <br>非常感谢您的关注和支持…
                <br>…………
                <h4 class="text-danger">后台采用ThinkPHP5 + MySQL开发（H+ UI）</h4>
            </blockquote>

            <hr>
        </div>
<!--         <div class="col-sm-3">
            <h2>Hello,糯米巴巴会员</h2>
            <small>如需购买 <a href="http://www.nuomibaba.net.cn/258.html" target="_blank">糯米巴巴小程序商城</a> 视频教程，可以使用手机支付宝扫码支付。付款完成后请联系
糯米巴巴网唯一客服QQ：2182193904</small>
            <br>
            <br>
            <img src="__ADMIN__/img/pay.png" width="100%" style="max-width:264px;">
            <br>
        </div> -->
        <div class="col-sm-5">
            <h2>H+ 后台主题UI框架</h2>
            <p>H+是一个完全响应式，基于Bootstrap3.3.6最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术，她提供了诸多的强大的可以重新组合的UI组件，并集成了最新的jQuery版本(v2.1.4)，当然，也集成了很多功能强大，用途广泛的jQuery插件，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。</p>
            <p>
                <b>当前H+版本：</b>v4.1.0
            </p>
            <p>
                <b>糯米巴巴微信小程序商城（ThinkPHP5）</b>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2182193904&amp;site=qq&amp;menu=yes" target="_blank">
                    <i class="fa fa-qq"> </i> 联系客服
                </a>
                <a class="btn btn-white btn-bitbucket" href="http://www.nuomibaba.net.cn/" target="_blank">
                    <i class="fa fa-home"></i> 访问糯米巴巴网
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>H+具有以下特点：</h4>
            <ol>
                <li>完全响应式布局（支持电脑、平板、手机等所有主流设备）</li>
                <li>基于最新版本的Bootstrap 3.3.6</li>
                <li>提供3套不同风格的皮肤</li>
                <li>支持多种布局方式</li>
                <li>使用最流行的的扁平化设计</li>
                <li>提供了诸多的UI组件</li>
                <li>集成多款国内优秀插件，诚意奉献</li>
                <li>提供盒型、全宽、响应式视图模式</li>
                <li>采用HTML5 & CSS3</li>
                <li>拥有良好的代码结构</li>
                <li>更多……</li>
            </ol>
        </div>
        <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <!-- <div class="ibox-title">
                        

                    </div> --><h5>联系信息</h5>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 网站：<a href="http://www.nuomibaba.net.cn/" target="_blank">http://www.nuomibaba.net.cn</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2182193904&amp;site=qq&amp;menu=yes" target="_blank">2182193904</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">18827206927</a>
                        </p>
                        <p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;" class="支付宝信息">3566732247@qq.com 张帆</a>
                        </p>
                    </div>
                </div>
            </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>小程序商城界面</h5>
                    </div>
                    <div class="ibox-content">
                        <img src="__ADMIN__/img/wx.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                           <a data-toggle="collapse" data-parent="#version" href="#v15">v3.0</a><code class="pull-right">2018.02</code>
                                        </h5>
                                    </div>
                                    <div id="v15" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ol>
                                                <li>完成小程序商城全套视频录制</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                           <a data-toggle="collapse" data-parent="#version" href="#v13">v2.0</a><code class="pull-right">2018.01</code>
                                        </h5>
                                    </div>
                                    <div id="v13" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>完成小程序PC端开发</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#version" href="#v12">v1.0</a><code class="pull-right">2018.01</code>
                                            </h4>
                                    </div>
                                    <div id="v12" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>完成小程序商城端开发</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="__ADMIN__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ADMIN__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__ADMIN__/js/plugins/layer/layer.min.js"></script>
    <script src="__ADMIN__/js/content.min.js"></script>
    <script src="__ADMIN__/js/welcome.min.js"></script>
</body>

</html>
